<h1> Booking </h1>
<table>
    <tr>
        <td> Flight ID </td>
        <td> Departure </td>
        <td> Arrival </td>
        <td> Start </td>
        <td> Duration </td>
    </tr>
    <tr>
        <td> <%= @flight.id %> </td>
        <td> <%= @flight.departure_airport.code %> </td>
        <td> <%= @flight.arrival_airport.code %> </td>
        <td> <%= @flight.start %> </td>
        <td> <%= @flight.flight_duration %> </td>
    </tr>
</table>

<h1> Passengers </h1>

<table>
    <tr>
        <td> Name </td>
        <td> Email </td>
    </tr>
    <% @passengers.each do |passenger| %>
    <tr>
        <td> <%= passenger.name %> </td>
        <td> <%= passenger.email %> </td>
    </tr>
    <% end %>

</table>